.form-check.form-check-sign::before,.form-check.form-check-sign::after{

}
.form-check .form-check-sign::before, .form-check .form-check-sign::after{
    width: 20px!important;
    height: 20px!important;
}
.a-white{
    color: white!important;
}