.table-responsive{
	/*overflow-x: auto !important;*/
	/*overflow-y: auto !important;*/
	/*height: 500px !important;*/
	overflow: hidden!important;
}

.hover-table tbody tr:hover {
	background-color: #EEEEEE;
}

.navbar-nav{
	margin-bottom: 14px !important;
}