body {
    min-height: 500px;
}

.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    transition: all 350ms ease-in-out;
}

.r-3-2 {
    width: 100%;
    padding-bottom: 66.667%;
    background-color: #ddd;
}

.image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Main Styles */

.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.item-wrapper {
    cursor: pointer;
    width: 23%;
    /* arbitrary value */
    display: inline-block;
    background-color: white;
}

.gallery-item {
    opacity: 0.5;
}

.gallery-item.active {
    opacity: 1;
}

.controls {
    font-size: 0;
    border-top: none;
}

.move-btn {
    display: inline-block;
    width: 50%;
    border: none;
    color: white;
    background-color: gray;
    padding: 0.2em 1.5em;
    font-size: 10px
}

.move-btn:first-child {
    border-right: none;
}

.move-btn.left {
    cursor: w-resize;
}

.move-btn.right {
    cursor: e-resize;
}

url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin-right: 5px;
    font-size: 1.7em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
/* show gold star when clicked */

.rating:not(:checked) > label:hover,
/* hover current star */

.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover,
/* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
/* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/*google map*/

#map {
    height: auto;
    margin-top: 10px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*slide*/

/*code tao*/

.title-lq {
    padding: 8px 15px !important;
}

.title-lq-main {
    padding: 8px 15px !important;
}

.detail figure {
    margin: 0
}

.album-place {
    padding-top: 15px;
    padding-bottom: 15px
}

.h2-place {
    color: #9c27b0;
    margin-top: 10px !important;
    margin-bottom: 0
}

.social-place {
    padding-bottom: 10px;
}

.social-place > div {
    padding-right: 5px
}

.info-place {
    padding-right: 20px;
}

.p-place {
    font-size: 18px;
    line-height: 28px;
    text-align: justify
}

.lq-place {
    border: 1px solid black;
}

.title-lq {
    text-align: center;
}

.title-lq h3 {
    margin: 7px 0 7px 0;
    font-size: 20px;
    font-weight: 400 !important;
}

.title-tab-place {
    font-size: 18px !important;
    font-weight: 400
}

#info p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    text-align: justify
}

.fb-comments iframe {
    width: 100% !important;
}

.fb-comments span {
    width: 100% !important;
}

.h4-lq {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0
}

.h4-ct {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px
}

.h4-in-info {
    text-align: left;
    font-size: 20px;
    font-weight: 400
}

.item-lq {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    height: 300px
}

.item-lq > div {
    padding: 20px 0 0 0;
}

.item-lq img {
    width: 100%;
    height: 80%;
    object-fit: cover;

}

.carousel-control-prev,
.carousel-control-next {
    top: -45px;
}

#eatingMobileCarousel {
    display: none;
}

#hotelMobileCarousel {
    display: none;
}

.detail hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.content-slide-place {
    margin: 0 !important
}

.content-lq {
    padding: 0 5px;
}

/*
.detail h3 {
    padding: 0 15px;
    font-weight: 400
}
*/

/*responsive*/

@media (max-width: 991px) and (min-width: 768px) {
    .title-tab-place {
        font-size: 15px !important;
    }
    .title-lq-main {
        padding: 4px 5px !important;
    }
    .title-lq h3 {
        font-size: 15px !important;
    }
    .content-lq {
        padding: 10px 0;
    }
    .div-col6-album {
        padding-right: 0;
    }
    .album-place {
        padding-right: 0;
    }
}


@media (max-width: 767px) and (min-width: 425px) {
    .title-tab-place {
        font-size: 15px !important;
    }
    .title-lq-main {
        padding: 4px 5px !important;
    }
    .title-lq h3 {
        font-size: 15px !important;
    }
    .item-lq {
        padding: 0
    }
    .content-lq {
        padding: 0;
    }
    .col-card-lq {
        margin-left: 15px !important
    }
    .quick-info-place {
        padding-left: 30px;
        padding-right: 30px;
    }
    .info-place {
        padding: 0
    }
    .col-info-place {
        padding-right: 0
    }
    #eatingMobileCarousel {
        display: block;
    }
    #eatingCarousel {
        display: none;
    }
    #hotelMobileCarousel {
        display: block;
    }
    #hotelCarousel {
        display: none;
    }
    .main-raised {
        margin: 0
    }
}

@media (max-width: 424px) {
    .main-raised {
        margin: 0
    }
    .rating > label:before {
        font-size: 1.3em;
    }
    .title-tab-place {
        font-size: 15px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .title-lq-main {
        padding: 4px 5px !important;
    }
    .title-lq h3 {
        font-size: 15px !important;
    }
    .content-lq {
        padding: 0;
    }
    .col-card-lq {
        margin-left: 15px !important
    }
    .quick-info-place {
        padding-left: 30px;
        padding-right: 30px;
    }
    .info-place {
        padding: 0
    }
    .col-info-place {
        padding-right: 0
    }
    #eatingMobileCarousel {
        display: block;
    }
    #eatingCarousel {
        display: none;
    }
    #hotelMobileCarousel {
        display: block;
    }
    #hotelCarousel {
        display: none;
    }
}
