.nav-tabs #sort-1.nav-item.show .nav-link{
    background-color: rgba(204, 204, 204, 0.15)!important;
}
.title-bg{
    font-weight: bold;
}
.title-dl h3{
    font-weight: 400!important;
    padding-left: 20px;
}
.title-view-main {
    font-size: 18px;
}
.title-view {
    font-size: 18px;
}
.title-top{
    padding: 8px 15px !important;
}
p.h4-top{
    font-size: 20px!important;
    padding-top: 10px;
}

@media (max-width: 1024px) and (min-width: 992px) {
    .title-top-main {
        padding: 10px 12px !important;
    }
    .title-top {
        padding: 6px 9px !important;
    }
    .title-top h3{
        font-size: 17px!important;
    }
    p.h4-top{
        font-size: 15px!important;
        padding-top: 5px;
    }
    .img-div{
        object-fit: cover;
        height: 250px;
    }
    .img-top{
        object-fit: cover;
        height: 200px;
    }
    .p-place{
        font-size: 14px!important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .title-tab-place {
        font-size: 15px !important;
    }
    .title-top-main {
        padding: 6px 8px !important;
    }
    .title-top {
        padding: 4px 5px !important;
    }
    .title-top h3 {
        font-size: 15px !important;
    }
    .content-top {
        padding: 5px;
    }
    .title-bg{
        font-size: 18px !important;
    }
    .h5-bg{
        font-size: 12px!important;
    }
    .img-div{
        object-fit: cover;
        height: 200px;
    }
    .img-top{
        object-fit: cover;
        height: 150px;
    }
    .p-place{
        font-size: 12px!important;
    }
}


@media (max-width: 767px) and (min-width: 425px) {
    .title-tab-place {
        font-size: 15px !important;
    }
    .title-top {
        padding: 4px 5px !important;
    }
    .title-top-main {
        font-size: 15px!important;
        padding: 5px 8px !important;
    }
    .title-top h3 {
        font-size: 15px !important;
    }
    .item-top {
        padding: 0
    }
    .content-top {
        padding: 0;
    }
    .col-card-top {
        margin-left: 15px !important
    }
    .col-list-place {
        padding-right: 0
    }

    .main-raised {
        margin: 0
    }
    .title-bg{
        font-size: 17px !important;
    }
    .h5-bg{
        font-size: 12px!important;
    }
    .img-div{
        object-fit: cover;
        height: 200px;
    }
    .img-top{
        object-fit: cover;
        height: 150px;
    }
    .p-place{
        font-size: 11px!important;
    }
    #liList{
        display: none!important;
    }
}

@media (max-width: 424px) {
    .main-raised {
        margin: 0
    }

    .title-bg{
        font-size: 15px !important;
    }
    .h5-bg{
        font-size: 10px!important;
    }

    .title-tab-place {
        font-size: 15px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .title-top {
        padding: 4px 5px !important;
    }
    .title-top h3 {
        font-size: 15px !important;
    }
    .content-top {
        padding: 0;
    }
    .col-card-top {
        margin-left: 15px !important
    }
    #liList{
        display: none!important;
    }
    .img-div{
        object-fit: cover;
        height: 150px;
    }
    .img-top{
        object-fit: cover;
        height: 100px;
    }
    .p-place{
        font-size: 10px!important;
    }
}
.div-body{
    object-fit: cover;
    height: 270px;
}
.img-div{
    object-fit: cover;
    height: 300px;
}
.img-top{
    object-fit: cover;
    height: 250px;
}
.a-img{
    width: 100%;
    height: 100%;
}
.div-footer{
    object-fit: cover;
    height: 50px;
}
.div-pagination{
    padding-left: 40%!important;
}

/*div.short-des {*/
    /*white-space: nowrap;*/
    /*height: 100px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/

/*}*/
/*Ribbon*/
.box {
    width: 100%; height: 100%;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
    border-radius: 30px;
}
.ribbon {
    position: absolute;
    right: -5%; top: -5%;
    z-index: 1;
    overflow: hidden;
    width: 75%; height: 75%;
    text-align: right;
}
.ribbon span {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 80%;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

/*status*/
