.carousel-item > img {
	filter: brightness(0.3);
}


/*scroll top btn*/
.scrollToTop{
    position:fixed;
    bottom:75px;
    right:40px;
    z-index: 10;
    border-radius: 100%;
    padding: 15px;
}
.scrollToTop:hover{
    text-decoration:none;
}
/*end scroll top btn*/

.city-name{
	/*margin: 1px 0;*/
}

.dropdown-content ul{
	width: 100%;
	height: 100%;
}

.dropdown-content a{
	font-size: 13px;
}

/*intro-carousel*/
.intro-carousel .p0 {
    padding: 0;
}

.intro-carousel .resCarousel-inner .item {
    /*border: 4px solid #eee;*/
    /*vertical-align: top;*/
    text-align: center;
}

.intro-carousel .resCarousel-inner .item .tile div,
.intro-carousel .banner .item div {
    display: table;
    width: 100%;
    min-height: 250px;
    text-align: center;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.intro-carousel .resCarousel-inner .item h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.intro-carousel .banner .item div {
    /*background: url('demoImg.jpg') center top no-repeat;*/
    background-size: cover;
    height: 200px;
}

.intro-carousel .item .tile div {
    /*background: url('demoImg.jpg') center center no-repeat;*/
    overflow: hidden;
    object-fit: contain;
    background-size: cover;
    height: 200px;
    color: white;
}

.intro-carousel .item .tile div img {
    width: 100%;
    height: 100%;
}

.intro-carousel .item div h1 {
    background: rgba(0, 0, 0, .4);
}
/*end intro-carousel*/

@media (max-width: 767px) and (min-width: 425px) {
	.scrollToTop{
	    bottom:30px;
	    right:10px;
	}

	.dropdown-city .dropdown-content {
		position: fixed !important;
		width: 100vw !important;
		min-width: 100vw !important;
	}

	.dropdown-content a{
		font-size: 2vw;
	}
}

@media (max-width: 424px) {
	.scrollToTop{
	    bottom:30px;
	    right:10px;
	}

	.dropdown-city .dropdown-content {
		position: fixed !important;
		width: 100vw !important;
		min-width: 100vw !important;
	}

	.dropdown-content a{
		font-size: 3vw;
	}
}

